services:
  koajs:
    build:
      context: ../  # Context is set to the project root
      dockerfile: docker/Dockerfile
    image: beanstalk-api:${DOCKER_ENV}
    ports:
      - "${KOAJS_PORT}:3000"
    env_file:
      - .env
    entrypoint: ["./entrypoint-proxy.sh", "postgres", "5432", "redis", "6379", "npm", "start"]
    restart: no
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
  postgres:
    image: postgres:16
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: beanstalk_api
      POSTGRES_USER: api_user
      POSTGRES_PASSWORD: beanstalk
    volumes:
      - ./.data/${DOCKER_ENV}/postgres:/var/lib/postgresql/data
  redis:
    image: redis:8-alpine
    ports:
      - "${REDIS_PORT}:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./.data/${DOCKER_ENV}/redis:/data
